<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713263015741-f866d8j807nv613f1ne9i802mfb2nev8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713263015741-f866d8j807nv613f1ne9i802mfb2nev8</string>
	<key>API_KEY</key>
	<string>AIzaSyDIg1VdaUgKb2DC2KvFbxLQQSaoZtGZzuo</string>
	<key>GCM_SENDER_ID</key>
	<string>713263015741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savealife.savealife</string>
	<key>PROJECT_ID</key>
	<string>savealife-f1bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>savealife-f1bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713263015741:ios:ea971559b1fde1c1338754</string>
	<key>DATABASE_URL</key>
	<string>https://savealife-f1bb1.firebaseio.com</string>
</dict>
</plist>